In [ ]:
# importing the required lib
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.model_selection import train_test_split

data preprocessing

In [ ]:
# Reading the csv file
df= pd.read_csv("drug200.csv")

# Visualizing the 1st 5 observations
df.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  DrugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  DrugY

In [ ]:
# descriptive stat
df.describe(include='all')

               Age  Sex    BP Cholesterol     Na_to_K   Drug
count   200.000000  200   200         200  200.000000    200
unique         NaN    2     3           2         NaN      5
top            NaN    M  HIGH        HIGH         NaN  DrugY
freq           NaN  104    77         103         NaN     91
mean     44.315000  NaN   NaN         NaN   16.084485    NaN
std      16.544315  NaN   NaN         NaN    7.223956    NaN
min      15.000000  NaN   NaN         NaN    6.269000    NaN
25%      31.000000  NaN   NaN         NaN   10.445500    NaN
50%      45.000000  NaN   NaN         NaN   13.936500    NaN
75%      58.000000  NaN   NaN         NaN   19.380000    NaN
max      74.000000  NaN   NaN         NaN   38.247000    NaN

In [ ]:
# Check the null values
df.isnull().sum()

Age            0
Sex            0
BP             0
Cholesterol    0
Na_to_K        0
Drug           0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Age          200 non-null    int64
 1   Sex          200 non-null    object
 2   BP           200 non-null    object
 3   Cholesterol  200 non-null    object
 4   Na_to_K      200 non-null    float64
 5   Drug         200 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 9.5+ KB

In [ ]:
# Convert categorical variables to numerical using LabelEncoder
label_encoder = LabelEncoder()
df["Sex"] = label_encoder.fit_transform(df["Sex"])
df["BP"] = label_encoder.fit_transform(df["BP"])
df["Cholesterol"] = label_encoder.fit_transform(df["Cholesterol"])
df["Drug"] = label_encoder.fit_transform(df["Drug"])

In [ ]:
# Split the features and labels
X = df.drop("Drug", axis=1)
y = df["Drug"]

In [ ]:
# Normalize the feature values
scaler = StandardScaler()
X = scaler.fit_transform(X)

In [ ]:
# Split the training and testing data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=12)

ANN Model creation

In [ ]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers

In [ ]:
model = keras.Sequential([
    layers.Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    layers.Dense(128, activation='relu'),
    layers.Dense(64, activation='relu'),
    layers.Dense(5, activation='softmax')  # Number of drug classes is 5
])

In [ ]:
# Compile the model
model.compile(optimizer='adam', loss='sparse_categorical_crossentropy', metrics=['accuracy'])

In [ ]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                384

 dense_1 (Dense)             (None, 128)               8320

 dense_2 (Dense)             (None, 64)                8256

 dense_3 (Dense)             (None, 5)                 325

=================================================================
Total params: 17,285
Trainable params: 17,285
Non-trainable params: 0
_________________________________________________________________

In [ ]:
model.fit(X_train, y_train, epochs=10, batch_size=32, verbose=1)

Epoch 1/10
5/5 [==============================] - 2s 7ms/step - loss: 1.4892 - accuracy: 0.3812
Epoch 2/10
5/5 [==============================] - 0s 5ms/step - loss: 1.2703 - accuracy: 0.5312
Epoch 3/10
5/5 [==============================] - 0s 6ms/step - loss: 1.1060 - accuracy: 0.5562
Epoch 4/10
5/5 [==============================] - 0s 9ms/step - loss: 0.9747 - accuracy: 0.5938
Epoch 5/10
5/5 [==============================] - 0s 5ms/step - loss: 0.8583 - accuracy: 0.6625
Epoch 6/10
5/5 [==============================] - 0s 6ms/step - loss: 0.7489 - accuracy: 0.7375
Epoch 7/10
5/5 [==============================] - 0s 8ms/step - loss: 0.6471 - accuracy: 0.7875
Epoch 8/10
5/5 [==============================] - 0s 6ms/step - loss: 0.5544 - accuracy: 0.8438
Epoch 9/10
5/5 [==============================] - 0s 5ms/step - loss: 0.4701 - accuracy: 0.8687
Epoch 10/10
5/5 [==============================] - 0s 5ms/step - loss: 0.3984 - accuracy: 0.9125