In [1]:
import numpy as np
import pandas as pd

Task - 1 Create a pandas dataframe (DataFrame name as 'df') with numpy random values (4 features and 4 observation)

In [2]:
data = np.random.rand(4, 4)
df = pd.DataFrame(data)
df

          0         1         2         3
0  0.821203  0.640382  0.611798  0.754443
1  0.557967  0.422513  0.022101  0.003968
2  0.228877  0.300964  0.246897  0.778514
3  0.558452  0.006516  0.462988  0.585707

Task - 2 Rename the task - 1 'df' dataframe column names to 'Random value 1', 'Random value 2', 'Random value 3' & 'Random value 4'

In [3]:
df.columns = ['Random value 1', 'Random value 2', 'Random value 3' , 'Random value 4']
df

   Random value 1  Random value 2  Random value 3  Random value 4
0        0.821203        0.640382        0.611798        0.754443
1        0.557967        0.422513        0.022101        0.003968
2        0.228877        0.300964        0.246897        0.778514
3        0.558452        0.006516        0.462988        0.585707

Task - 3 Find the descriptive statistics of the 'df' dataframe

In [4]:
df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count        4.000000        4.000000        4.000000        4.000000
mean         0.541625        0.342594        0.335946        0.530658
std          0.242573        0.264415        0.257334        0.361453
min          0.228877        0.006516        0.022101        0.003968
25%          0.475694        0.227352        0.190698        0.440273
50%          0.558210        0.361739        0.354943        0.670075
75%          0.624140        0.476981        0.500191        0.760461
max          0.821203        0.640382        0.611798        0.778514

Task - 4 Check for the null values in 'df' and find the data type of the columns.

In [5]:
df.isnull().values.any()

False

In [6]:
df.dtypes

Random value 1    float64
Random value 2    float64
Random value 3    float64
Random value 4    float64
dtype: object

Task - 5 Display the 'Random value 2' & 'Random value 3' columns with location method and index location method

In [7]:
# displaying "random value 2" using location method
df.loc[:, 'Random value 2']

0    0.640382
1    0.422513
2    0.300964
3    0.006516
Name: Random value 2, dtype: float64

In [8]:
# displaying "random value 3" using location method
df.loc[:, 'Random value 3']

0    0.611798
1    0.022101
2    0.246897
3    0.462988
Name: Random value 3, dtype: float64

In [9]:
# displaying "random value 2" using index location method
df.iloc[:, 1]

0    0.640382
1    0.422513
2    0.300964
3    0.006516
Name: Random value 2, dtype: float64

In [10]:
# displaying "random value 3" using index location method
df.iloc[:, 2]

0    0.611798
1    0.022101
2    0.246897
3    0.462988
Name: Random value 3, dtype: float64